/*
font
 */
.gg.font-bold{
  font-weight: bold;
}

.gg.font-bolder{
  font-weight: bolder;
}

.gg.font-large62{
  font-size: 6.2rem;
}

.gg.font-large20{
  font-size:2.0rem
}

.gg.font-status{
  font-size: 1.8rem;
}

.gg.font-title{
  font-size: 1.6rem;
}

.gg.font-content{
  font-size: 1.3rem;
}

.gg.font-little11{
  font-size: 1.1rem;
}

.gg.font-font-little10{
  font-size: 1.0rem;
}